<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/newfile.css" %}">
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>WELCOME TO DURGAJOBS PORTAL</h1>
        <p>CONTINUOUS JOBS UPDATE FOR EVERY HOUR......</p>
        <a href="/hydjobs" class ='btn btn-primary btn-lg'>HYDJOBS</a>
        <a href="#" class ='btn btn-primary btn-lg'>BloreJOBS</a>
        <a href="#" class ='btn btn-primary btn-lg'>ptnaJOBS</a>
        <a href="#" class ='btn btn-primary btn-lg'>puneJOBS</a>
      </div>
    </div>
  </body>
</html>
